html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;    
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#mainContainer {
    margin: 0;
}

#canvasContainer {
    background-color: #E2E1E0 !important;
}